.modal-background {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.788);
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, #11CCF8 50%,  #2289FA 50%);
    height: 55vh;
    width: 50vw;
    position: absolute;
    top: 25vh;
    left: 25vw;
    border: 6px outset rgb(159, 233, 255);
    box-shadow: 20px 20px rgba(0, 0, 0, 0.411);
    z-index: 2;
}

.modal-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7vw;
    margin-right: 7vw;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.modal-info-container {
        display: flex;
    align-items: center;
    justify-content: center;
}

.closeIcon {
    cursor: pointer;
    position: absolute;
    margin-top: 40vh;
    height: 64px;
    width: 64px;
}